In [1]:
import pandas as pd

In [4]:
import numpy as np

In [2]:
data=[1,2,3,4,5]
df=pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5

In [3]:
data=[['Alex',10],['Bob',15],['Marley',20]]
df=pd.DataFrame(data)
df

        0   1
0    Alex  10
1     Bob  15
2  Marley  20

In [5]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.610135 -0.145036 -1.896332 -1.049824
2013-01-02 -0.155890  2.054154  0.042471  0.250517
2013-01-03  0.953374 -0.026881 -0.645816 -0.341814
2013-01-04  0.200257  0.791345 -0.727783  2.056022
2013-01-05  0.646452  1.100452  1.128052 -0.675392
2013-01-06  0.738823 -0.948783  0.601506 -1.522240

In [18]:
df2 = pd.DataFrame({'A': 1.,'B': pd.Timestamp('20130102'),'C': pd.Series(1, index=list(range(4)), dtype='float32'),'D': np.array([3] * 4, dtype='int32'),'E': pd.Categorical(["test", "train", "test", "train"]),'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [9]:
df.head()

                   A         B         C         D
2013-01-01 -1.610135 -0.145036 -1.896332 -1.049824
2013-01-02 -0.155890  2.054154  0.042471  0.250517
2013-01-03  0.953374 -0.026881 -0.645816 -0.341814
2013-01-04  0.200257  0.791345 -0.727783  2.056022
2013-01-05  0.646452  1.100452  1.128052 -0.675392

In [17]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.200257  0.791345 -0.727783  2.056022
2013-01-05  0.646452  1.100452  1.128052 -0.675392
2013-01-06  0.738823 -0.948783  0.601506 -1.522240

In [11]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
df.to_numpy()

array([[-1.61013503, -0.14503605, -1.89633167, -1.04982361],
       [-0.15588986,  2.05415377,  0.04247079,  0.25051676],
       [ 0.95337422, -0.02688146, -0.6458156 , -0.34181379],
       [ 0.20025658,  0.79134486, -0.72778318,  2.05602212],
       [ 0.64645233,  1.10045206,  1.1280521 , -0.67539207],
       [ 0.73882341, -0.94878254,  0.60150605, -1.52223956]])

In [23]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [26]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [27]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.128814  0.470875 -0.249650 -0.213788
std    0.941283  1.062862  1.077496  1.265550
min   -1.610135 -0.948783 -1.896332 -1.522240
25%   -0.066853 -0.115497 -0.707291 -0.956216
50%    0.423354  0.382232 -0.301672 -0.508603
75%    0.715731  1.023175  0.461747  0.102434
max    0.953374  2.054154  1.128052  2.056022

In [14]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -1.610135   -0.155890    0.953374    0.200257    0.646452    0.738823
B   -0.145036    2.054154   -0.026881    0.791345    1.100452   -0.948783
C   -1.896332    0.042471   -0.645816   -0.727783    1.128052    0.601506
D   -1.049824    0.250517   -0.341814    2.056022   -0.675392   -1.522240